<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Who Paid?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-5">
      <li class="nav-item">
          <a class="nav-link" routerLink="/add-events" routerLinkActive="active">Add Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/view-events" routerLinkActive="active">View Events</a>
      </li>
    </ul>
  </div>
</nav>
<h6>Who Paid? captures who paid for what and later allows you to recollect exactly that so you can settle that hisaab!</h6>
<router-outlet></router-outlet>
